.best {
    height: auto;

    &-main {
        display: flex;
        justify-content: space-around;

    }

    &-sellers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 50px 0 50px 0 !important;
        min-height: 18vh;

    }


    &-nav {
        display: flex;
        justify-content: space-between;

    }

    &-products {
        width: 100%;

        display: flex;
        min-height: 50vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white-main;
        padding: 40px 0px 20px 0px !important;
        background:
            radial-gradient(ellipse, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 0.6) 40%, rgba(245, 245, 245, 0.4) 50%, rgba(245, 245, 245, 0.2) 60%, rgba(245, 245, 245, 0) 80%),
            linear-gradient(to top, rgba(245, 245, 245, 0.2), rgba(245, 245, 245, 0) 60%);

    }

    &-product {

        height: auto;
        margin-bottom: 5% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px !important;
        border-radius: 10px;
        background-color: $white-pure;






        & img {
            width: 90%;
        }

        &-desc {
            display: flex;
            justify-content: space-between;
            margin: 0px 0 20px 0 !important;


        }

        &-content {
            display: flex;
            flex-direction: column;
            padding: 10px 0 !important;

            @media (max-width: 576px) {
                height: 300px !important;

                justify-content: space-between;
            }

            & img {
                width: 100%;

            }

        }

        &-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px 0 0 0 !important;
        }
    }
}

.starimage {


    display: flex;
    justify-content: flex-end;

    height: auto !important;
    align-items: flex-end;
    margin: 5px 0 0 0 !important;
}

.star {
    height: 18px !important;
    width: 18px !important;



    @media (max-width: 768px) {
        height: 15px !important;
        width: 15px !important;
    }

    @media (max-width: 576px) {
        height: 12px !important;
        width: 12px !important;
    }


}