.contact {
    display: flex;



    &-underlined {
        border-bottom: 1px solid silver;
        padding-bottom: 30px !important;
        margin-bottom: 15px !important;



    }

    &-form {
        padding-top: 50px !important;

        & input {
            margin: 10px 0 !important;
            padding: 10px !important;
        }

        & textarea {
            margin: 10px 0 !important;
            padding: 10px 10px 40px 10px !important;
        }

        @media (max-width: 576px) {
            padding: 0 10px !important;
        }
    }

    &-submit {
        display: flex;
        justify-content: center;
    }

    &-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}