.home {
    width: 100%;
    min-height: 70vh;
    display: flex;

    @media (max-width: 992px) {
        min-height: 40vh;
    }

    @media (max-width: 768px) {
        min-height: 40vh;
    }

    @media (max-width: 576px) {
        min-height: 70vh;
    }



    &-bg {
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

    &l {
        background-image: url("../assets/home/homel.png");
    }

    &r {
        background-image: url("../assets/home/homer.png");

        @media (max-width: 576px) {
            display: none;
        }
    }

    &t {
        background-image: url("../assets/home/homet.png");
        height: 20%;
        width: 100%;
    }

    &bo {
        background-image: url("../assets/home/homeb.png");
        height: 20%;
        width: 100%;
    }

    &-center {
        padding: 0 20px !important;
    }

    &-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &-center {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 50%;
            width: 100%;
        }
    }
}