.home {
    width: 100%;
    min-height: 80vh;

    display: flex;

    @media (max-width: 1200px) {
        min-height: 80vh;
    }

    @media (max-width: 992px) {
        min-height: 60vh;
    }

    @media (max-width: 768px) {
        min-height: 50vh;
    }

    @media (max-width: 576px) {
        min-height: 80vh;
    }

    @media (max-width: 320px) {
        min-height: 65vh;
    }

    &-bg {
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

    &l {
        background-image: url("../assets/home/homel.png");
    }

    &r {
        background-image: url("../assets/home/homer.png");

        @media (max-width: 576px) {
            display: none;
        }
    }

    &t {
        background-image: url("../assets/home/homet.png");
        height: 20%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &bo {
        background-image: url("../assets/home/homeb.png");
        height: 20%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &-center {
        padding: 0 20px !important;

        @media (max-width: 320px) {
            padding: 0 5px !important;
        }
    }

    &-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 576px) {
            justify-content: space-around;
        }

        &-center {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center !important;
            height: 50%;
            width: 100%;

            @media (max-width: 992px) {
                min-height: 60%;
            }

            @media (max-width: 768px) {
                min-height: 70%;
            }
        }
    }
}
