.layout {
    width: 100%;
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &-child {
        width: 100%;
    }
}