.logos {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 992px) {
        height: 10vh;
    }


    @media (max-width: 7658px) {}

    &-logo {
        display: flex;
        justify-content: center;

    }

}