.quality {
    display: flex;
    justify-content: center;
    min-height: 18vh;
    padding: 20px 0 !important;


    &-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-item {
        display: flex;
        align-items: center;
        padding: 10px !important;

        & img {
            margin-right: 7px !important;
            max-width: 50px;
            max-height: 50px;

            @media (max-width: 992px) {
                max-width: 40px;
                max-height: 40px;
            }

            @media (max-width: 768px) {
                max-width: 30px !important;
                max-height: 30px;
            }
        }
    }
}