.sh {
    display: flex;
    justify-content: center;
    min-height: 70vh !important;

}

.shop {
    display: flex;

    @media (max-width: 992px) {
        flex-direction: column;
    }


    &-filters {
        display: flex;
        flex-direction: column;
    }


    &-product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px 0 !important;


        & p {
            margin: 5px 0 !important;
        }


        &-main {
            padding: 0 30px !important;
  

            & img {
                max-width: 100%;
                height: auto;
            }

        }
    }

    &-pageNum {
        display: flex;
        justify-content: center;
        align-items: center;

        & button {
            border: none;
            background: transparent;
        }
    }
}

.filter {

    &-heading {
        margin: 30px 0 15px 0 !important;
    }

    &-price {
        display: flex;
        width: 100%;
        justify-content: space-between;

    }

}

.filter-checkbox {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--checkbox-color, #ccc); // 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;

    &:checked {
        border: 2px solid #000;
    }

    &:hover {
        opacity: 0.9;
    }

    &-container {
        display: flex;
        border: solid greenyellow;
        gap: 10px;
        align-items: center
    }
}