.sp {

    display: flex;
    justify-content: space-between;
    width: 100%;

    &-filter {
        width: 30%;

    }

    &-products {
        width: 70%;


        &-pageCounter {
            display: flex;
            max-width: 20%;
            justify-content: center;
            align-items: center;
            border: none;

        }
    }


}