.sp {
  display: flex;
  gap: 20px;

  @media (max-width: 992px) {
    flex-direction: column;
  }

  &-filter {
    width: 30%;
    display: flex;
    flex-direction: column;

    @media (max-width: 992px) {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  &-products {
    width: 70%;


    @media (max-width: 992px) {
      width: 100%;
    }

    &-pageCounter {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 15px;
    }
  }
}

.colors-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
}

.color-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.2s ease;

  &.selected {
    border: 3px solid black;
  }
}

.filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;


  input {
    cursor: pointer;
  }

  label {
    margin-left: 5px;
  }
}
